@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inspiration&display=swap");
:root {
  --pinks: #f5bebf;
  --dark-beige: #ffffff;
  --beige: #f1d1b5;
  --light-blue: #568ea6;
  --dark-blue: #043e55;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-image: url("../public/images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  background-color: var(--dark-blue) !important;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.418);
}
.navbar .nav-link {
  color: #fff !important;
  font-family: "Josefin Sans";
  text-transform: uppercase;
}
.navbar-brand {
  text-transform: capitalize;
  font-size: 30px !important;
  font-family: "Inspiration", cursive;
  color: #fff !important;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.main .col {
  margin-top: -20vh;
  color: #fff;
  text-align: center;
}
.main h1 {
  font-family: "Cormorant", serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 70px;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.main h6 {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.about {
  min-height: 100vh;
  background-color: var(--dark-blue);
  display: flex;
  padding-bottom: 5vh;
}

.about h1 {
  font-family: "Cormorant", sans-serif;
  text-transform: uppercase;
  color: var(--beige);
}
.about p {
  margin-top: 10vh;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  text-align: justify;
  width: 100%;
}

.about img {
  padding: 0 30px;
}
.about .col {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  align-items: center !important;
}

.work {
  height: 100%;
  background: var(--pinks);
  margin: 0 !important;
  padding-bottom: 30px !important;
}
.work .col {
  display: flex;
  justify-content: center;
}
.work h1 {
  font-family: "Cormorant", sans-serif;
  text-transform: uppercase;
  color: var(--dark-blue);
  font-weight: 700 !important;
}
.work .brodery {
  background-image: url(../public/images/brodery.jpg);
}
.work .music {
  background-image: url(../public/images/music.jpg);
  background-position-y: -20vh;
}
.work .box {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 350px;
  height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  zoom: 0;
  transition: 0.7s !important;
  border-radius: 5px;
}

.music h1 {
  color: var(--pinks);
}

.box:hover {
  transform: scale(1.1);
  filter: grayscale(1);
  box-shadow: 1px 1px 10px black;
}

.contact {
  height: 78vh;
  padding: 20vh 0!;
}
.contact h1 {
  color: var(--pinks);
  font-family: "Cormorant";
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 1px 1px 10px rgb(0, 0, 0);
}
.contact textarea {
  width: 350px;
  height: 200px;
  padding: 20px;
  font-size: 20px;
  font-family: "Cormorant", sans-serif;
  font-weight: bolder;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 50px black;
}
.contact button {
  padding: 20px;
  margin-top: 20px;
  background: none;
  border: 2px solid var(--dark-blue);
  font-size: 20px;
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 900;
  color: var(--dark-blue);
  box-shadow: 1px 1px 30px black;
  border-radius: 5px;
}
.contact button:hover {
  background: var(--dark-blue);
  color: #fff;
}
.contact .socials {
  color: var(--dark-blue) !important;
  font-size: 25px;
  text-align: left;
  font-family: "Cormorant", sans-serif;
  font-weight: bolder;
  background-color: #ffffff;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

@media only screen and (max-width: 600px) {
  .about .img p {
    padding: 30px;
    width: fit-content;
  }
  @keyframes animatedBackground {
    0% {
      background-position: -150vw 0;
    }
    100% {
      background-position: -250vw 0;
    }
  }
  @-moz-keyframes animatedBackground {
    0% {
      background-position: -150vw 0;
    }
    100% {
      background-position: -250vw 0;
    }
  }
  @-webkit-keyframes animatedBackground {
    0% {
      background-position: -150vw 0;
    }
    100% {
      background-position: -250vw 0;
    }
  }
  @-ms-keyframes animatedBackground {
    0% {
      background-position: -150vw 0;
    }
    100% {
      background-position: -250vw 0;
    }
  }
  @-o-keyframes animatedBackground {
    0% {
      background-position: -150vw 0;
    }
    100% {
      background-position: -250vw 0;
    }
  }

  body {
    width: 100%;
    height: 100%;
    /* background-position-x: -150vw !important; */
    background-image: url("../public/images/bg.jpg");
    animation: animatedBackground 10s linear infinite;
    -moz-animation: animatedBackground 10s linear infinite;
    -webkit-animation: animatedBackground 10s linear infinite;
    -ms-animation: animatedBackground 10s linear infinite;
    -o-animation: animatedBackground 10s linear infinite;
  }
}
